@import "./variable";
@import "./mixin";

@media screen and (max-width: 431px) {
  // ----- header -----
  .header {
    position: relative;
    padding: 32px 20px 0 20px;

    &__nav-wrapper {
      @include flex(space-around, center, column, 0, 20px);
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 280px;
      background-color: $primary-color;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }
    &__nav-list {
      @include flex(center, center, column, 40, 40px);
    }
    &__burger {
      display: block;
      cursor: pointer;
    }

    &__burger:hover + &__nav-wrapper,
    &__nav-wrapper:hover {
      max-height: 100vh;
    }
  }
  // ----- This is the main content section of the website -----
  main {
    padding-inline: 20px;
    margin-block: 50px 90px;
  }
  // ----- This is the hero section -----
  .hero {
    margin-bottom: 66px;
    @include flex(space-between, flex-start, column, 0, 0);

    &__left {
      width: 100%;
      @include flex(flex-start, flex-start, column, 0, 0);
    }
    &__title {
      @include font-style(500, 40px, 100%, 0%);
      margin-bottom: 24px;
    }
    &__text {
      @include font-style(400, 16px, 24px, 0%);
      margin-block: 40px;
    }
    &__button {
      width: 100%;
      @include font-style(400, 16px, 24px, 0%);
    }
    &__right-desktop {
      display: none;
    }
    &__right-mobile {
      display: block;
      width: 100%;
      max-height: 286px;
    }
  }
  // ----- This is the partners section -----
  .partners {
    margin-bottom: 64px;
    &__list {
      @include flex(flex-start, center, row, 24px, 24px);
    }
    &__item {
      width: auto;
      height: 40px;
    }
    &__logo {
      object-fit: contain;
    }
  }
  // ----- This is the services section -----
  .services {
    margin-bottom: 64px;
    &__header {
      @include flex(center, center, column, 0, 32px);
      margin-bottom: 40px;
    }

    &__description {
      width: 100%;
      @include font-style(400, 16px, 100%, 0%);
      text-align: center;
    }
    &__card {
      flex: 1 1 100%;
      padding: 50px;
      @include flex(center, flex-start, column, 0, 28px);
    }
    &__card-title {
      @include font-style(500, 20px, 100%, 0%);
      @include flex(center, flex-start, column, 0, 0);
    }
    &__card-link-group-desktop {
      display: none;
    }
    &__card-link-group-mobile {
      display: block;
    }
    &__footer-mobile {
      width: 100%;
      @include flex(space-between, flex-end, row, 0, 0);
    }

    &__card-right {
      max-width: 160px;
    }
  }
  // ----- This is the proposal section -----
  .proposal {
    margin-bottom: 64px;
    padding: 50px;
    &__button {
      width: 100%;
      @include font-style(400, 16px, 24px, 0%);
    }
    &__image {
      display: none;
    }
  }
  // ----- This is the case-studies section -----
  .case-studies {
    margin-bottom: 64px;
    &__header {
      @include flex(center, center, column, 0, 32px);
      margin-bottom: 40px;
    }

    &__text {
      width: 100%;
      @include font-style(400, 16px, 100%, 0%);
      text-align: center;
    }
    &__blocks {
      @include flex(flex-start, center, row, 20px, 0);
      border-radius: 0px;
      background: transparent;
      padding: 0px;
      overflow: hidden;
    }
    &__block {
      width: 350px;
      flex-shrink: 0;
      background: $dark-color;
      padding: 50px;
      border-radius: $border-radius45;
    }
    &__divider {
      display: none;
    }
  }
  // ----- This is the Our Working Process section -----
  .working-process {
    margin-bottom: 64px;
    &__header {
      @include flex(center, center, column, 0, 32px);
      text-align: center;
      margin-bottom: 40px;
    }
    &__title {
      @include flex(center, center, column, 0, 0);
      background: transparent;
    }
    &__span {
      background: $primary-color;
      border-radius: 7px;
      padding-inline: 7px;
    }
    &__text {
      width: 100%;
      @include font-style(400, 16px, 100%, 0%);
    }
    &__block {
      @include flex(center, center, column, 0, 16px);
    }
    &__step {
      padding: 30px;
    }
    &__plus-icon,
    &__minus-icon {
      width: 30px;
      height: 30px;
    }
    &__step-heading {
      @include flex(center, center, row, 16px, 0);
    }
    &__step-number {
      @include font-style(500, 40px, 100%, 0%);
      color: $black;
    }

    &__step-title {
      @include font-style(500, 18px, 100%, 0%);
      color: $black;
    }
  }
  // ----- This is the team section -----
  .team {
    margin-bottom: 64px;
    &__header {
      @include flex(center, center, column, 0, 32px);
      margin-bottom: 40px;
    }

    &__description {
      width: 100%;
      @include font-style(400, 16px, 100%, 0%);
      text-align: center;
    }
    &__card {
      padding: 38px 45px;
      height: auto;
    }
    &__button {
      width: 100%;
      margin-top: 32px;
      justify-content: center;
    }
  }
  // ----- This is the testimonials section -----
  .testimonials {
    margin-bottom: 64px;
    &__header {
      @include flex(center, center, column, 0, 32px);
      margin-bottom: 40px;
    }
    &__description {
      width: 100%;
      @include font-style(400, 16px, 100%, 0%);
      text-align: center;
    }
    &__block {
      padding: 30px 0px 50px;
    }
    &__cards {
      @include flex(center, center, row, 30px, 0);
      margin-bottom: 55px;
    }

    &__card-text {
      width: 330px;
      padding: 20px 20px;
    }
    &__card-footer {
      margin: 20px 0 0 40px;
    }
    &__controls {
      width: 100%;
      padding-inline: 30px;
    }
  }
  // ----- This is the Contact Us section -----
  .contact-us {
    margin-bottom: 64px;
    &__header {
      @include flex(center, center, column, 0, 32px);
      margin-bottom: 40px;
    }
    &__description {
      width: 100% !important;
      @include font-style(400, 16px, 100%, 0%);
      text-align: center;
    }
    &__body {
      height: auto;
      overflow: hidden;
      padding: 40px;
      &__illustration {
        display: none;
      }
    }
  }
  // ----- This is the footer -----
  .footer {
    padding: 32px 20px;
    border-radius: 0;
    &__header {
      @include flex(space-between, center, column, 0, 0);
      margin-bottom: 40px;
    }
    &__logo {
      margin-bottom: 20px;
    }
    &__nav-list {
      @include flex(center, center, column, 0, 20px);
    }
    &__nav-link {
      text-decoration: none;
    }
    &__socials-desktop {
      display: none;
    }
    &__socials-mobile {
      display: flex;
      justify-content: center;
      column-gap: 20px;
      margin-top: 40px;
    }
    &__container {
      @include flex(center, center, column, 0, 40px);
      text-align: center;
    }
    &__form {
      width: 100%;
      height: auto;
      @include flex(center, center, column, 0, 20px);
      padding: 20px;
    }
    &__contact-us-list {
      @include flex(center, center, column, 0, 20px);
    }
    &__email-input,
    &_subscribe_btn {
      width: 100%;
    }
    &__dividing_line {
      margin-block: 40px;
    }
    &__copyright {
      @include flex(flex-start, center, column, 40px, 0);
    }
  }
}
