// colors
$primary-color: #b9ff66; // მუქი მწვანე
$dark-color: #191a23; // მუქი ნაცრისფერი
$light-color: #f3f3f3; // ღია ნაცრისფერი
$form-background: #292a32; //footer-ის ფორმის ფონი
$black: #000000;
$white: #ffffff;
// border-radius
$border-radius14: 14px;
$border-radius45: 45px;
// button-padding
$button-padding: 20px 35px;
// font
$font: "Space Grotesk", sans-serif;
