// font
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

// Partial Files
@import "./mixin";
@import "./mobile";
@import "./reset";
@import "./variable";

body {
  font-family: $font;
}

// ----- header -----
.header {
  @include container(1440px);
  padding: 60px 100px 0 100px;
  @include flex(space-between, center, row, 0, 0);
  &__nav-wrapper {
    @include flex(center, center, row, 40px, 0);
  }
  &__nav-list {
    @include flex(center, center, row, 40px, 0);
  }
  &__nav-link {
    @include font-style(400, 20px, 28px, 0%);
    color: $black;
  }
  &__quote-button {
    @include border(1px, solid, $dark-color);
    padding: $button-padding;
    border-radius: $border-radius14;
    @include font-style(400, 20px, 28px, 0%);
    color: $black;
  }
  &__burger {
    display: none;
  }
}

// ----- This is the main content section of the website -----
main {
  @include container(1440px);
  padding-inline: 100px;
  margin-block: 70px 140px;
}

// ----- This is the hero section -----
.hero {
  @include flex(space-between, flex-start, row, 0, 0);
  margin-bottom: 70px;
  &__left {
    width: 531px;
    @include flex(center, flex-start, column, 0, 35px);
  }
  &__title {
    @include font-style(500, 60px, 100%, 0%);
    color: $black;
  }
  &__text {
    @include font-style(400, 20px, 28px, 0%);
    color: $black;
  }
  &__button {
    @include font-style(400, 20px, 28px, 0%);
    color: $white;
    border: none;
    border-radius: $border-radius14;
    padding: $button-padding;
    background: $dark-color;
  }
  &__right {
    width: 600px;
    min-height: 515px;
  }
  &__image {
    @include image-style(100%, 100%, cover);
  }
}

// ----- This is the partners section -----
.partners {
  margin-bottom: 140px;
  &__list {
    @include flex(center, center, row, clamp(20px, 9vw, 95px), 0);
  }
  &__item {
    height: 48px;
  }
  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}

// ----- This is the services section -----
.services {
  margin-bottom: 100px;
  &__header {
    @include flex(flex-start, center, row, 40px, 0);
    margin-bottom: 80px;
  }
  &__title {
    background: $primary-color;
    @include font-style(500, 40px, 100%, 0%);
    color: $black;
    border-radius: $border-radius14;
    padding-inline: 7px;
  }
  &__description {
    width: 580px;
    @include font-style(400, 18px, 100%, 0%);
    color: $black;
  }
  // Cards Section
  &__cards {
    @include flex(center, center, row, 40px, 40px);
    flex-wrap: wrap;
  }
  &__card {
    flex: 1 1 40%;
    border-radius: $border-radius45;
    padding: 50px;
    min-height: 310px;
    @include flex(center, center, row, 93px, 0);
  }
  &__card:nth-child(1) {
    background: $light-color;
  }
  &__card:nth-child(2) {
    background: $primary-color;
  }
  &__card:nth-child(3) {
    background: $dark-color;
  }
  &__card:nth-child(4) {
    background: $light-color;
  }
  &__card:nth-child(5) {
    background: $primary-color;
  }
  &__card:nth-child(6) {
    background: $dark-color;
  }
  &__card-left {
    @include flex(center, flex-start, column, 0, 93px);
  }
  &__card-title {
    @include font-style(500, 30px, 100%, 0%);
    color: $black;
  }
  &__span1 {
    border-radius: 7px;
    &.green {
      background: $primary-color;
    }
    &.white {
      background-color: $white;
    }
  }
  &__span2 {
    border-radius: 7px;
    &.green {
      background: $primary-color;
    }
    &.white {
      background-color: $white;
    }
  }
  &__card-link-group {
    @include flex(flex-start, center, row, 15px, 0);
  }
  &__card-learn-more {
    @include font-style(400, 20px, 28px, 0%);
    color: $black;
    &.color-white {
      color: $white;
    }
  }
  &__card-right {
    width: 210px;
  }
  &__card-image {
    width: 100%;
  }
}
