@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.header {
  width: min(100%, 1440px);
  margin: auto;
  padding: 60px 100px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.header__icon-logo {
  transition: 0.3s;
}
.header__icon-logo:hover {
  filter: drop-shadow(4px 4px 2px #b9ff66);
}
.header__nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
}
.header__nav-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000000;
  position: relative;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #b9ff66;
  transition: 0.3s;
  transform: scale(0);
}
.header__nav-link:hover::after {
  transform: scaleX(1);
}
.header__quote-button {
  border-width: 1px;
  border-style: solid;
  border-color: #191a23;
  padding: 20px 35px;
  border-radius: 14px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000000;
  transition: 0.3s;
  cursor: pointer;
}
.header__quote-button:active {
  border-width: 1px;
  border-style: solid;
  border-color: #b9ff66;
  border-radius: 14px;
  background: #b9ff66;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000000;
}
.header__burger {
  display: none;
}

main {
  width: min(100%, 1440px);
  margin: auto;
  padding-inline: 100px;
  margin-block: 70px 140px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  margin-bottom: 70px;
}
.hero__left {
  width: 531px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 35px;
}
.hero__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000000;
}
.hero__button {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
  border-radius: 14px;
  padding: 20px 35px;
  background: #191a23;
  transition: 0.3s;
  cursor: pointer;
}
.hero__button:hover {
  background: #37394d;
}
.hero__right {
  width: 600px;
  min-height: 515px;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners {
  margin-bottom: 140px;
}
.partners__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: clamp(20px, 9vw, 95px);
       column-gap: clamp(20px, 9vw, 95px);
  row-gap: 0;
}
.partners__item {
  height: 48px;
}
.partners__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: 0.3s;
  cursor: pointer;
}
.partners__logo:hover {
  filter: grayscale(0%);
}

.services {
  margin-bottom: 100px;
}
.services__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
  margin-bottom: 80px;
}
.services__title {
  background: #b9ff66;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  border-radius: 14px;
  padding-inline: 7px;
}
.services__description {
  width: 580px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.services__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  flex-wrap: wrap;
}
.services__card {
  flex: 1 1 40%;
  border-radius: 45px;
  padding: 50px;
  min-height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 93px;
       column-gap: 93px;
  row-gap: 0;
}
.services__card:nth-child(1) {
  background: #f3f3f3;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.services__card:nth-child(1):hover {
  box-shadow: 0 0 5px #b9ff66, 0 0 15px #b9ff66, 0 0 25px #b9ff66;
}
.services__card:nth-child(2) {
  background: #b9ff66;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.services__card:nth-child(2):hover {
  box-shadow: 0 0 5px #191a23, 0 0 15px #191a23, 0 0 25px #191a23;
}
.services__card:nth-child(3) {
  background: #191a23;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.services__card:nth-child(3):hover {
  box-shadow: 0 0 5px #b9ff66, 0 0 15px #b9ff66, 0 0 25px #b9ff66;
}
.services__card:nth-child(4) {
  background: #f3f3f3;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.services__card:nth-child(4):hover {
  box-shadow: 0 0 5px #b9ff66, 0 0 15px #b9ff66, 0 0 25px #b9ff66;
}
.services__card:nth-child(5) {
  background: #b9ff66;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.services__card:nth-child(5):hover {
  box-shadow: 0 0 5px #191a23, 0 0 15px #191a23, 0 0 25px #191a23;
}
.services__card:nth-child(6) {
  background: #191a23;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.services__card:nth-child(6):hover {
  box-shadow: 0 0 5px #b9ff66, 0 0 15px #b9ff66, 0 0 25px #b9ff66;
}
.services__card-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 93px;
}
.services__card-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.services__span1 {
  border-radius: 7px;
}
.services__span1.green {
  background: #b9ff66;
}
.services__span1.white {
  background-color: #ffffff;
}
.services__span2 {
  border-radius: 7px;
}
.services__span2.green {
  background: #b9ff66;
}
.services__span2.white {
  background-color: #ffffff;
}
.services__card-link-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 0;
}
.services__card-learn-more {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000000;
}
.services__card-learn-more.color-white {
  color: #ffffff;
}
.services__card-right {
  width: 210px;
}
.services__card-image {
  width: 100%;
}

.proposal {
  margin-bottom: 140px;
  padding: 60px;
  background: #f3f3f3;
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  position: relative;
}
.proposal__content {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 26px;
}
.proposal__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.proposal__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.proposal__button {
  padding: 20px 35px;
  background: #191a23;
  border-radius: 14px;
  color: #ffffff;
  font-style: 400, 20px, 28px, 0%;
  transition: 0.3s;
  cursor: pointer;
}
.proposal__button:hover {
  background: #37394d;
}
.proposal__image {
  position: absolute;
  right: 135px;
}

.case-studies {
  margin-bottom: 140px;
}
.case-studies__header {
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
}
.case-studies__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  padding-inline: 7px;
  background: #b9ff66;
  border-radius: 7px;
}
.case-studies__text {
  width: 580px;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.case-studies__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  border-radius: 45px;
  background: #191a23;
  padding: 70px 60px;
}
.case-studies__block {
  width: 286px;
}
.case-studies__block-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
.case-studies__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 0;
}
.case-studies__link-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28%;
  letter-spacing: 0%;
  color: #b9ff66;
}
.case-studies__divider {
  width: 1px;
  height: 186px;
  background: #ffffff;
}

.working-process {
  margin-bottom: 140px;
}
.working-process__header {
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
}
.working-process__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  padding-inline: 7px;
  background: #b9ff66;
  border-radius: 7px;
}
.working-process__text {
  width: 292px;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.working-process__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 30px;
}
.working-process__step {
  border-width: 1px;
  border-style: solid;
  border-color: #191a23;
  border-radius: 45px;
  padding: 41px 60px;
  width: 100%;
  background: #f3f3f3;
  transition: background-color 0.3s;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px #191a23;
}
.working-process__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.working-process__step-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 0;
}
.working-process__step-number {
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.working-process__step-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.working-process__minus-icon {
  display: none;
}
.working-process__step-details {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;
  margin-top: 0;
  border-top: 1px solid #000000;
  transition: max-height 0.6s ease, opacity 0.6s ease, padding-top 0.6s ease, margin-top 0.6s ease;
}
.working-process__step-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.working-process__step:hover {
  background-color: #b9ff66;
}
.working-process__step:hover .working-process__minus-icon {
  display: block;
}
.working-process__step:hover .working-process__plus-icon {
  display: none;
}
.working-process__step:hover .working-process__step-details {
  max-height: 280px;
  opacity: 1;
  padding-top: 30px;
  margin-top: 30px;
}

.team {
  margin-bottom: 140px;
}
.team__header {
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
}
.team__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  padding-inline: 7px;
  background: #b9ff66;
  border-radius: 7px;
}
.team__description {
  width: 473px;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.team__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  flex-wrap: wrap;
}
.team__card {
  flex: 1 1 30%;
  height: 354px;
  border-width: 1px;
  border-style: solid;
  border-color: #191a23;
  border-radius: 45px;
  padding: 40px 35px 60px;
  box-shadow: 0px 5px 0px 0px #191a23;
  transition: 0.3s;
  cursor: pointer;
}
.team__card:hover {
  box-shadow: 0 0 0 transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #b9ff66;
}
.team__card-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 0;
  position: relative;
  padding-bottom: 28px;
  margin-bottom: 28px;
  border-bottom: 1px solid #000000;
}
.team__card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.team__card-position {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.team__card-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.team__card-experience {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.team__button {
  margin-top: 40px;
  padding: 20px 76px;
  border-radius: 14px;
  background: #191a23;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  display: flex;
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}
.team__button:hover {
  background: #37394d;
}

.testimonials {
  margin-bottom: 140px;
}
.testimonials__header {
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
}
.testimonials__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  padding-inline: 7px;
  background: #b9ff66;
  border-radius: 7px;
}
.testimonials__description {
  width: 473px;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.testimonials__block {
  padding-block: 84px 68px;
  background: #191a23;
}
.testimonials__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 0;
  overflow: hidden;
  margin-bottom: 124px;
}
.testimonials__card {
  position: relative;
}
.testimonials__card-text {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: 502px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.testimonials__card-footer {
  margin: 20px 0 0 80px;
}
.testimonials__card-name {
  color: #b9ff66;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.testimonials__card-position {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.testimonials__controls {
  margin: auto;
  width: 564px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.testimonials__control-prev, .testimonials__control-next {
  border: none;
  background: transparent;
}
.testimonials__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 19px;
       column-gap: 19px;
  row-gap: 0;
}

.contact-us {
  margin-bottom: 140px;
}
.contact-us__header {
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
}
.contact-us__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  padding-inline: 7px;
  background: #b9ff66;
  border-radius: 7px;
}
.contact-us__description {
  width: 323px;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.contact-us__body {
  background: #f3f3f3;
  border-radius: 45px;
  position: relative;
  overflow: hidden;
  height: 773px;
  padding: 60px 0 80px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.contact-us__form {
  width: 556px;
}
.contact-us__form-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 40px;
}
.contact-us__form-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 0;
}
.contact-us__form-option {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 14px;
  row-gap: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.contact-us__form-radio {
  width: 28px;
  height: 28px;
  accent-color: #b9ff66;
}
.contact-us__form-groups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 25px;
  width: 100%;
}
.contact-us__form-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 5px;
  width: 100%;
}
.contact-us__form-input {
  width: 100%;
  height: 59px;
  border-radius: 14px;
  padding: 18px 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  outline: none;
}
.contact-us__form-textarea {
  width: 100%;
  height: 190px;
  resize: none;
  border-radius: 14px;
  padding: 18px 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  outline: none;
}
.contact-us__form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000000;
}
.contact-us__form-button {
  width: 100%;
  height: 68px;
  background: #191a23;
  border-radius: 14px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}
.contact-us__form-button:hover {
  background: #37394d;
}
.contact-us__illustration {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70%;
}

.footer {
  background-color: #191a23;
  width: min(100%, 1241px);
  margin: auto;
  padding: 55px 60px 50px;
  border-radius: 45px 45px 0 0;
}
.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  margin-bottom: 66px;
}
.footer__icon-logo {
  transition: 0.3s;
}
.footer__icon-logo:hover {
  filter: drop-shadow(1px 1px 2px #b9ff66);
}
.footer__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
}
.footer__nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  -webkit-text-decoration: underline solid #ffffff;
          text-decoration: underline solid #ffffff;
  color: #ffffff;
  transition: 0.3s;
}
.footer__nav-link:hover {
  color: #b9ff66;
  -webkit-text-decoration: underline solid #b9ff66;
          text-decoration: underline solid #b9ff66;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 0;
}
.footer__social-icon {
  transition: 0.3s;
}
.footer__social-icon:hover {
  transform: translateX(2px);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 154px;
       column-gap: 154px;
  row-gap: 0;
}
.footer__contact-us {
  width: 332px;
}
.footer__title {
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  background: #b9ff66;
  padding-inline: 7px;
  border-radius: 7px;
  display: inline-block;
}
.footer__contact-us-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 20px;
}
.footer__contact-us-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.footer__contact-us-link:hover {
  color: #e8ffcc;
}
.footer__form {
  width: 634px;
  height: 184px;
  background: #292a32;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 0;
}
.footer__email-input {
  width: 285px;
  height: 68px;
  padding-left: 35px;
  border: 1px solid #ffffff;
  border-radius: 14px;
  background: transparent;
  color: #ffffff;
}
.footer__email-input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.footer__email-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.footer_subscribe_btn {
  width: 249px;
  height: 68px;
  border: none;
  border-radius: 14px;
  background: #b9ff66;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000000;
  cursor: pointer;
  transition: 0.3s;
}
.footer_subscribe_btn:hover {
  background: #a2ff33;
}
.footer__dividing_line {
  width: 100%;
  height: 1px;
  background: #ffffff;
  margin-block: 50px;
}
.footer__copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #ffffff;
}
.footer__privacy {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */