// font
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

// Partial Files
@import "./mixin";
@import "./mobile";
@import "./reset";
@import "./variable";

body {
  font-family: $font;
}

// ----- header -----
.header {
  @include container(1440px);
  padding: 60px 100px 0 100px;
  border: 2px solid red;
  @include flex(space-between, center, row, 0, 0);
  &__nav-wrapper {
    @include flex(center, center, row, 40px, 0);
  }
  &__nav-list {
    @include flex(center, center, row, 40px, 0);
  }
  &__nav-link {
    @include font-style(400, 20px, 28px, 0%);
    color: $black;
  }
  &__quote-button {
    @include border(1px, solid, $dark-color);
    padding: $button-padding;
    border-radius: $border-radius14;
    @include font-style(400, 20px, 28px, 0%);
    color: $black;
  }
  &__burger {
    display: none;
  }
}
